<%include ../partials/header%>

<div class="container" id="events-gallery-container">
	<h1 class="h1b my-4"><strong>Past Events & Workshops</strong></h1>

	<div class="events-gallery">
		<div class="row">
			<% if (events && events.length > 0) {
				events.forEach((events) => {%>
				<div class="card">
					<img src="<%= events.image %>" class="card-img-top " alt="...">
					<div class="d-flex card-date card-img-overlay w-25">
						<p class="bodycopyb text-center card-text"><%= events.shortDate %></p>
					</div>
					<div class="d-flex flex-column card-body mx-auto card-img-overlay">
						<h3 class="h3o card-text text-center mx-auto"><%= events.name %></h3>
						<p class="bodycopyb card-text text-center"><%= events.excerpt %></p>
						<p class="bodycopyb card-text text-center"><a href="/events/<%= events._id %>">see more</a></p>
					</div>
				</div>
			<% })} else { %>
			<p class="h3b">
				 There are no past events.
			</p>
			<% }; %>
		</div>
	</div>
</div>


<!-- More info -->

<div class="container">
	<div id="more-info-box-title">
		<h1 class="h1b"><strong>More Info</strong></h1>
	</div>
	<div id="more-info-box">
		<div id="more-info-box-partner">
			<p class="h3w">There's more events hosted by our Big House Partners!</p>
			<a href="https://bighouse.org.uk/events" class="btn btn-primary h2w">Partner Events</a>
		</div>
		<div id="more-info-box-event">
			<p class="h3w">See some of our upcoming events!</p>
			<a href="/events" class="btn btn-secondary h2w">Upcoming Events</a>
		</div>
	</div>
</div>

<%include ../partials/footer%>